[Unit]
Description=Install and run Tuleap
After=network.target
After=network-online.target

[Service]
User=root
Type=oneshot
StandardOutput=journal+console
ExecStart=-/run.sh
ExecStopPost=/usr/bin/systemctl halt

[Install]
WantedBy=multi-user.target
